<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2010. Сергей Лежнев
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.librarian"
          android:versionCode="3"
          android:versionName="1.0.2">
    <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-sdk android:minSdkVersion="7"/>
    <application android:icon="@drawable/icon" android:label="Alchemy">
        <activity android:name=".AlchemyActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TurnActivity" android:label="Текущий ход"/>
        <activity android:name=".PlayersActivity" android:label="Игроки"/>
        <activity android:name=".HistoryActivity" android:label="История"/>
        <activity android:name=".PlayerParamActivity" android:label="Параметры игрока"/>
    </application>
</manifest>
