<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.librarian">
    <application android:icon="@drawable/icon" android:label="Alchemy">
        <activity android:name=".AlchemyActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TurnActivity" android:label="Текущий ход"/>
        <activity android:name=".PlayersActivity" android:label="Игроки"/>
        <activity android:name=".HistoryActivity" android:label="История"/>
    </application>
</manifest>
